* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    box-sizing: border-box;
    overflow-y: hidden;
}


body {
    height: 100vh;
    /* Use viewport height instead of 100% */
    width: 100%;
    background: linear-gradient(#f69d3c, #3f87a6);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add this to center vertically */
    flex-direction: column;
}

#componentContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: visible;
    overflow-x: hidden;
    width: fit-content;
    height: 100%;
    gap: 1rem;

}

#componentContainer>div {
    box-sizing: border-box;
    background-color: gray;
    border: 2px solid orange;
    width: 600px;
}



.infoContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 1px;
    gap: 10px;
    align-items: center;
    padding: 20px;
}

#imgBox {
    display: flex;
    justify-content: center;

}


#weather,
#location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

#dayHolder {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dayBox {
    height: 200px;
    width: 200px;
}

.forecast {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: centerad;
    grid-template-columns: 1fr;
    /* Adjusted grid template columns */
    grid-template-rows: 1fr 2fr;
    /* Adjusted grid template rows */
    text-align: center;
}

#foreacastTitle {
    grid-row: 1;
}

#dayData {
    grid-row: 2;
}


.weatherQueryMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* Adjust as needed */
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#locBtn {
    height: fit-content;
    width: fit-content;
}
































/*/-------------------------/*/


/*/ Contact page styling /*/




































/*/-------------------------/*/