* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    box-sizing: border-box;
    overflow-y: hidden;
}


body {
    height: 100vh;
    /* Use viewport height instead of 100% */
    width: 100%;
    background: linear-gradient(#f69d3c, #3f87a6);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add this to center vertically */
    flex-direction: column;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Optional: makes the element full-width */
}

#componentContainer {
    margin-top: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: visible;
    overflow-x: hidden;
    width: fit-content;
    height: 90%;
    gap: 1rem;

}

#componentContainer>div {
    box-sizing: border-box;
    background-color: gray;
    border: 2px solid orange;
    width: 900px;
    height: 325px;
    transition: opacity 0.3s ease-in-out;

}



#infoContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 1px;
    gap: 10px;
    align-items: center;
    padding: 20px;
}



.location-detail-pair,
.weather-detail-pair {}



.forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    grid-template-columns: 1fr;
    /* Adjusted grid template columns */
    grid-template-rows: 1fr 2fr;
    /* Adjusted grid template rows */
    width: fit-content;
    overflow-x: hidden;
}


#imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
}


#weather,
#location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 10rem;
    text-align: center;
}

#dayHolder {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dayBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 150px;
    gap: 5px;
}

#foreacastTitle {
    grid-row: 1;
}

#dayData {
    grid-row: 2;
}


.weatherQueryMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* Adjust as needed */
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#locBtn {
    height: fit-content;
    width: fit-content;
}





/*/ steps to make a loading bar

1- dynamically create the elements 
2-style them to looking like a loading bar
3-adjust the width of the loading bar set a timer,
start the animation and wait for the promise returned status to 
succeed

/*/






























/*/
-------------------------
/*/


/*/
Contact page styling
/*/




































/*/
-------------------------
/*/